
@{
    ViewBag.Title = "ListJob";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-default">
        <div>
            <h2 class="text-center">
                <b>QUẢN LÝ CÔNG VIỆC</b>
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-ld-12">
                <div class="form-inline form-group">
                    <input id="username_filter" class="form-control" type="text" placeholder="Tên đăng nhập" />
                    <button id="searchBtn" class="btn btn-default">
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

